<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="false" default-dependency-check="none"
       default-autowire="no">

  <bean id="dataSourceSelector" class="org.piraso.core.dbmigrator.SingleDataSourceSelector">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="migrationResolver" class="org.piraso.core.dbmigrator.DefaultResourceMigrationResolver"/>
  <bean id="versionStrategy" class="com.carbonfive.db.migration.SimpleVersionStrategy"/>

  <bean id="migrationManager" class="org.piraso.core.dbmigrator.SingleDataSourceMigrationManager"
        init-method="migrate">
    <property name="dataSourceSelector" ref="dataSourceSelector"/>
    <property name="migrationResolver" ref="migrationResolver"/>
    <property name="versionStrategy" ref="versionStrategy"/>
    <property name="domain" value="piraso"/>
    <property name="forceMigrate" value="true"/>
  </bean>

  <bean id="accountDao" class="org.piraso.demo.domain.dao.AccountDaoImpl"
        parent="baseDao"/>

</beans>