<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-lazy-init="false" default-dependency-check="none"
       default-autowire="no">

  <aop:config proxy-target-class="true"/>

  <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

  <bean id="commonDataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
    <property name="url" value="${dataSource.url}"/>
    <property name="username" value="${dataSource.username}"/>
    <property name="password" value="${dataSource.password}"/>
    <property name="driverClassName" value="${dataSource.driverClassName}"/>
    <property name="validationQuery" value="${dataSource.pool.validationQuery}"/>
    <property name="defaultAutoCommit" value="false"/>
    <property name="maxActive" value="8"/>
    <property name="maxWait" value="10000"/>
    <property name="maxOpenPreparedStatements" value="20"/>
    <property name="poolPreparedStatements" value="false"/>
    <property name="initialSize" value="1"/>
    <property name="accessToUnderlyingConnectionAllowed" value="1"/>

    <property name="testOnBorrow" value="true"/>
    <property name="testOnReturn" value="false"/>
    <property name="testWhileIdle" value="true"/>

    <property name="minIdle" value="0"/>
    <property name="maxIdle" value="1"/>

    <!-- Idle connections are checked every 10 seconds -->
    <property name="timeBetweenEvictionRunsMillis" value="10000"/>
    <!-- Idle connections live for 10 seconds before being closed -->
    <property name="minEvictableIdleTimeMillis" value="10000"/>
    <property name="numTestsPerEvictionRun" value="8"/>
  </bean>


  <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="commonDataSource"/>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
        <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
        <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
        <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
        <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
        <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.hibernate.query.substitutions">${hibernate.hibernate.query.substitutions}</prop>
      </props>
    </property>
    <!-- Scan for entities and mappings -->
    <property name="packagesToScan">
      <list>
        <value>com.piraso.domain.common.entity</value>
      </list>
    </property>

  </bean>

  <bean id="commonBaseDao" class="com.piraso.core.dao.BaseDaoImpl"
        abstract="true">
    <property name="hibernateTemplate" ref="hibernateTemplate"/>
    <property name="jdbcTemplate" ref="jdbcTemplate"/>
  </bean>

  <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="nestedTransactionAllowed" value="true"/>
    <property name="earlyFlushBeforeCommit" value="true"/>
  </bean>

  <alias name="transactionManager" alias="carbonFiveTransactionManager"/>
  <alias name="transactionManager" alias="commonTransactionManager"/>

  <!-- Enable Annotation-based transaction management: -->
  <tx:annotation-driven transaction-manager="transactionManager"/>

  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="commonDataSource"/>
  </bean>

  <bean id="schemaName" class="java.lang.String">
    <constructor-arg value="h2Default"/>
  </bean>

  <bean id="schemaCreator" class="com.piraso.core.dbmigrator.SchemaCreator" init-method="create">
    <constructor-arg index="0" ref="jdbcTemplate"/>
    <constructor-arg index="1" ref="schemaName"/>
  </bean>

  <import resource="spring-domain-common.xml"/>

</beans>